# Import Data

In [2]:
import pandas as pd
import pickle
import numpy as np
from decimal import Decimal

# Calculate Accuracy and Bias

In [4]:
data =pd.read_pickle('DF_Results_SVM.pkl')

In [5]:
accuracy=[]
accuracy_men=[]
accuracy_women=[]
accuracy_bias=[]

for i in range(0,len(data)):
    acc_men=(data['Confusion Matrix Men'][i][0,0]+data['Confusion Matrix Men'][i][1,1])/(1000*data['Ratio Men'][i])
    accuracy_men.append(float(acc_men))
    acc_women=(data['Confusion Matrix Women'][i][0,0]+data['Confusion Matrix Women'][i][1,1])/(1000*(1-data['Ratio Men'][i]))
    accuracy_women.append(float(acc_women))
    acc_bias=acc_men-acc_women
    accuracy_bias.append(float(acc_bias))
    acc=(data['Confusion Matrix Men'][i][0,0]+data['Confusion Matrix Men'][i][1,1]+data['Confusion Matrix Women'][i][0,0]+data['Confusion Matrix Women'][i][1,1])/1000
    accuracy.append(acc)
print('Done')

data['accuracy']=accuracy
data['accurcy_women']=accuracy_women
data['accuracy_men']=accuracy_men
data['bias']=accuracy_bias

Done

In [7]:
data

,Classifier,Exp. Group,# Dataset,Seed,Ratio Men,Probability Men,Probability Women,Difference Probabilities,Confusion Matrix Men,Confusion Matrix Women,accuracy,accurcy_women,accuracy_men,bias
0,SVM,1,1,9318,0.50,0.05,0.05,0.00,"[[475, 0], [25, 0]]","[[471, 4], [18, 7]]",0.953,0.956,0.950000,-0.006000
1,SVM,1,2,62,0.50,0.05,0.05,0.00,"[[474, 1], [22, 3]]","[[474, 1], [19, 6]]",0.957,0.960,0.954000,-0.006000
2,SVM,1,3,4905,0.50,0.05,0.05,0.00,"[[473, 2], [19, 6]]","[[475, 0], [20, 5]]",0.959,0.960,0.958000,-0.002000
3,SVM,1,4,4993,0.50,0.05,0.05,0.00,"[[471, 4], [12, 13]]","[[475, 0], [23, 2]]",0.961,0.954,0.968000,0.014000
4,SVM,1,5,5517,0.50,0.05,0.05,0.00,"[[475, 0], [23, 2]]","[[475, 0], [22, 3]]",0.955,0.956,0.954000,-0.002000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81395,SVM,148,546,9565,0.95,0.95,0.95,0.00,"[[12, 36], [5, 897]]","[[1, 1], [0, 48]]",0.958,0.980,0.956842,-0.023158
81396,SVM,148,547,6037,0.95,0.95,0.95,0.00,"[[19, 29], [8, 893]]","[[0, 2], [0, 48]]",0.960,0.960,0.960000,0.000000
81397,SVM,148,548,1241,0.95,0.95,0.95,0.00,"[[14, 34], [15, 887]]","[[0, 2], [0, 48]]",0.949,0.960,0.948421,-0.011579
81398,SVM,148,549,3911,0.95,0.95,0.95,0.00,"[[8, 40], [5, 897]]","[[0, 2], [0, 48]]",0.953,0.960,0.952632,-0.007368
81399,SVM,148,550,6388,0.95,0.95,0.95,0.00,"[[10, 38], [7, 895]]","[[0, 2], [0, 48]]",0.953,0.960,0.952632,-0.007368

In [64]:
data = data.rename(columns={'Exp. Group': 'Group'})

data_50 = data.query('Group < 38').drop(['Classifier','# Dataset', 'Seed','Ratio','Probability Men', 'Probability Women','Difference Probabilities','Confusion Matrix Men', 'Confusion Matrix Women', 'accuracy', 'accurcy_women', 'accuracy_men'], axis=1)
data_65 = data.query('Group > 37 & Group < 75').drop(['Classifier','# Dataset', 'Seed','Ratio','Probability Men', 'Probability Women','Difference Probabilities','Confusion Matrix Men', 'Confusion Matrix Women', 'accuracy', 'accurcy_women', 'accuracy_men'], axis=1)
data_80 = data.query('Group > 74 & Group < 112').drop(['Classifier','# Dataset', 'Seed','Ratio','Probability Men', 'Probability Women','Difference Probabilities','Confusion Matrix Men', 'Confusion Matrix Women', 'accuracy', 'accurcy_women', 'accuracy_men'], axis=1)
data_95 = data.query('Group > 111 & Group < 149').drop(['Classifier','# Dataset', 'Seed','Ratio','Probability Men', 'Probability Women','Difference Probabilities','Confusion Matrix Men', 'Confusion Matrix Women', 'accuracy', 'accurcy_women', 'accuracy_men'], axis=1)

TypeError: eval() got an unexpected keyword argument 'ignore_index'

In [58]:
data_50

      Group   bias
0         1 -0.006
1         1 -0.006
2         1 -0.002
3         1  0.014
4         1 -0.002
...     ...    ...
20345    37  0.014
20346    37  0.010
20347    37  0.004
20348    37  0.006
20349    37  0.000

[20350 rows x 2 columns]

In [41]:
data_65

,Classifier,Group,# Dataset,Seed,Ratio,Probability Men,Probability Women,Difference Probabilities,Confusion Matrix Men,Confusion Matrix Women,accuracy,accurcy_women,accuracy_men,bias
20350,SVM,38,1,2931,0.65,0.05,0.05,0.00,"[[618, 0], [32, 0]]","[[331, 1], [14, 4]]",0.953,0.957143,0.950769,-0.006374
20351,SVM,38,2,2946,0.65,0.05,0.05,0.00,"[[614, 4], [26, 6]]","[[332, 0], [18, 0]]",0.952,0.948571,0.953846,0.005275
20352,SVM,38,3,1676,0.65,0.05,0.05,0.00,"[[616, 2], [26, 6]]","[[330, 2], [12, 6]]",0.958,0.960000,0.956923,-0.003077
20353,SVM,38,4,9650,0.65,0.05,0.05,0.00,"[[617, 1], [27, 5]]","[[331, 1], [15, 3]]",0.956,0.954286,0.956923,0.002637
20354,SVM,38,5,5802,0.65,0.05,0.05,0.00,"[[614, 4], [25, 7]]","[[330, 2], [15, 3]]",0.954,0.951429,0.955385,0.003956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40695,SVM,74,546,9915,0.65,0.95,0.95,0.00,"[[9, 23], [6, 612]]","[[2, 16], [2, 330]]",0.953,0.948571,0.955385,0.006813
40696,SVM,74,547,7952,0.65,0.95,0.95,0.00,"[[2, 30], [1, 617]]","[[2, 16], [1, 331]]",0.952,0.951429,0.952308,0.000879
40697,SVM,74,548,8341,0.65,0.95,0.95,0.00,"[[7, 25], [1, 617]]","[[4, 14], [4, 328]]",0.956,0.948571,0.960000,0.011429
40698,SVM,74,549,5553,0.65,0.95,0.95,0.00,"[[6, 26], [3, 615]]","[[1, 17], [0, 332]]",0.954,0.951429,0.955385,0.003956
40699,SVM,74,550,7164,0.65,0.95,0.95,0.00,"[[1, 31], [1, 617]]","[[4, 14], [3, 329]]",0.951,0.951429,0.950769,-0.000659

In [42]:
data_80

,Classifier,Group,# Dataset,Seed,Ratio,Probability Men,Probability Women,Difference Probabilities,Confusion Matrix Men,Confusion Matrix Women,accuracy,accurcy_women,accuracy_men,bias
40700,SVM,75,1,1483,0.80,0.05,0.05,0.00,"[[758, 2], [24, 16]]","[[190, 0], [10, 0]]",0.964,0.950,0.96750,0.01750
40701,SVM,75,2,2300,0.80,0.05,0.05,0.00,"[[754, 6], [30, 10]]","[[190, 0], [9, 1]]",0.955,0.955,0.95500,0.00000
40702,SVM,75,3,8759,0.80,0.05,0.05,0.00,"[[759, 1], [36, 4]]","[[190, 0], [10, 0]]",0.953,0.950,0.95375,0.00375
40703,SVM,75,4,8758,0.80,0.05,0.05,0.00,"[[759, 1], [35, 5]]","[[190, 0], [9, 1]]",0.955,0.955,0.95500,0.00000
40704,SVM,75,5,8802,0.80,0.05,0.05,0.00,"[[759, 1], [35, 5]]","[[190, 0], [9, 1]]",0.955,0.955,0.95500,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61045,SVM,111,546,5347,0.80,0.95,0.95,0.00,"[[6, 34], [9, 751]]","[[0, 10], [0, 190]]",0.947,0.950,0.94625,-0.00375
61046,SVM,111,547,7196,0.80,0.95,0.95,0.00,"[[10, 30], [2, 758]]","[[2, 8], [0, 190]]",0.960,0.960,0.96000,0.00000
61047,SVM,111,548,9172,0.80,0.95,0.95,0.00,"[[1, 39], [1, 759]]","[[0, 10], [0, 190]]",0.950,0.950,0.95000,0.00000
61048,SVM,111,549,4507,0.80,0.95,0.95,0.00,"[[6, 34], [4, 756]]","[[0, 10], [0, 190]]",0.952,0.950,0.95250,0.00250
61049,SVM,111,550,2786,0.80,0.95,0.95,0.00,"[[5, 35], [3, 757]]","[[0, 10], [0, 190]]",0.952,0.950,0.95250,0.00250

In [45]:
data_95

,Classifier,Group,# Dataset,Seed,Ratio,Probability Men,Probability Women,Difference Probabilities,Confusion Matrix Men,Confusion Matrix Women,accuracy,accurcy_women,accuracy_men,bias
61050,SVM,112,1,7325,0.95,0.05,0.05,0.00,"[[899, 3], [42, 6]]","[[48, 0], [2, 0]]",0.953,0.96,0.952632,-0.007368
61051,SVM,112,2,6222,0.95,0.05,0.05,0.00,"[[897, 5], [40, 8]]","[[48, 0], [2, 0]]",0.953,0.96,0.952632,-0.007368
61052,SVM,112,3,3337,0.95,0.05,0.05,0.00,"[[895, 7], [33, 15]]","[[48, 0], [1, 0]]",0.958,0.96,0.957895,-0.002105
61053,SVM,112,4,291,0.95,0.05,0.05,0.00,"[[901, 1], [43, 5]]","[[48, 0], [2, 0]]",0.954,0.96,0.953684,-0.006316
61054,SVM,112,5,3787,0.95,0.05,0.05,0.00,"[[902, 0], [47, 1]]","[[48, 0], [2, 0]]",0.951,0.96,0.950526,-0.009474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81395,SVM,148,546,9565,0.95,0.95,0.95,0.00,"[[12, 36], [5, 897]]","[[1, 1], [0, 48]]",0.958,0.98,0.956842,-0.023158
81396,SVM,148,547,6037,0.95,0.95,0.95,0.00,"[[19, 29], [8, 893]]","[[0, 2], [0, 48]]",0.960,0.96,0.960000,0.000000
81397,SVM,148,548,1241,0.95,0.95,0.95,0.00,"[[14, 34], [15, 887]]","[[0, 2], [0, 48]]",0.949,0.96,0.948421,-0.011579
81398,SVM,148,549,3911,0.95,0.95,0.95,0.00,"[[8, 40], [5, 897]]","[[0, 2], [0, 48]]",0.953,0.96,0.952632,-0.007368
81399,SVM,148,550,6388,0.95,0.95,0.95,0.00,"[[10, 38], [7, 895]]","[[0, 2], [0, 48]]",0.953,0.96,0.952632,-0.007368

In [69]:
data_50_Mean = pd.DataFrame()
for i in range (1, 37):
    dataTemp = data_50[data_50['Group']==i]
    print(dataTemp.mean())

ValueError: level > 0 or level < -1 only valid with MultiIndex

In [62]:
data_50_Mean

Empty DataFrame
Columns: []
Index: []